
body {
	font-family: Helvetica;
	color: #111;
}

.container {
	width: 550px;
	margin: 100px auto;
	border: 20px solid #e1e1e1;
	background-color: #ccc;
	overflow: hidden;
	text-align: center;
}

h1 {
	font-size: 100px;
	position: relative;
	text-transform: uppercase;
}