
body {
	font-family: helvetica;
	color: #FFFFFF;
	background-color: #444444;
}

h1 {
	text-align: center;
}

#cats {
	margin: 0 auto;
	width: 30%;
}

li {
	padding: 0 0 20px 20px;
	vertical-align: top;
}
img {
	display: block;
	width: 100%;
}
