body {
	font-family: Helvetica;
	color: #fff;
	background-color: #111;
	margin: 0;
}

.container {
	margin: 0 auto;
	width: 640px;
}

#space {
	position: relative;
	width: 640px;
	height: 480px;
	overflow: hidden;
}

img {
	position: absolute;
	left: 0;
}

button {
	display: inline-block;
	padding: 10px 20px;
	margin: 15px auto;
	width: 200px;
	font-size: 20px;
}
#rightButton {
	float: right;
}

#sandy {
	top: 100px;
	left: 300px;
}